[Unit]
Description=Демон автозапуска и перезагрузки сайта

[Service]
User=root
WorkingDirectory=/root/attendance-bot/
ExecStart=/usr/bin/python3 /root/attendance-bot/web_site.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
