[Unit]
Description=Демон автозапуска и перезагрузки телеграм бота

[Service]
User=root
WorkingDirectory=/root/attendance-bot/
ExecStart=/usr/bin/python3 /root/attendance-bot/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
