<!DOCTYPE html>
<html>
<head>
  <title>Отчет по посещаемости аааа</title>
  <style>
    body {
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }
    h1 {
      color: #333333;
      text-align: center;
      margin-bottom: 20px;
    }
    p {
      color: #333333;
      text-align: left;
      margin-bottom: 20px;
    }
    form {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    input[type="date"] {
      padding: 10px;
      border-radius: 5px;
    }
    input[type="submit"] {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #4CAF50;
      color: #ffffff;
      border: none;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #45a049;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #dddddd;
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: #f9f9f9;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr.none-values {
      background-color: #e7ebad;
      color: #615f5f;
    }
    .group-data {
      border-top: 2px solid rgb(17, 37, 11);
      margin-top: 20px ;
      border-bottom: 2px solid rgb(17, 37, 11);
    }
  </style>
</head>
<body>
  <h1>Отчет по посещаемости КЦПТ</h1>
<form id="date-form" action="/process_date" method="post">
  <input type="date" id="date-input" name="date" required>
  <input type="submit" id="submit-button" value="Выбрать дату">
</form>
  </form>
  {% if message %}
    <div class="message">{{ message }}</div>
  {% endif %}
  <table>
    <tr>
      <th>ID</th>
      <th>Группа</th>
      <th>Куратор</th>
      <th>Дата</th>
      <th>Уважительная</th>
      <th>Неуважительная</th>
      <th>Болезнь</th>
      <th>Присутствуют</th>
      <th>Комментарий</th>
      <th>% посещаемости</th>
      <th>% посещаемости c учетом У и Б</th>
    </tr>
    {% for note in attendance_report %}
      <tr{% if note[4] == "-" or note[5] == "-" or note[6] == "-" %} class="none-values"{% endif %}>
        <td>{{ note[0] }}</td>
        <td>{{ note[1] }}</td>
        <td>{{ note[2] }}</td>
        <td>{{ note[3] }}</td>
        <td>{{ note[4] }}</td>
        <td>{{ note[5] }}</td>
        <td>{{ note[6] }}</td>
        <td>{{ note[7] }}</td>
        <td>{{ note[8] }}</td>
        <td>{{ note[9] }}</td>
        <td>{{ note[10] }}</td>
      </tr>
    {% endfor %}
  </table>
    <script>
    var rows = document.getElementsByTagName('tr');
    var previousGroup = null;
    var dataToInsert = JSON.parse('{{ all_TEST_count|safe }}');
    var subList1 = dataToInsert[0];
    var subList2 = dataToInsert[1];
    var subList3 = dataToInsert[2];
    var subList4 = dataToInsert[3];
    var subList5 = dataToInsert[4];
    var subList6 = dataToInsert[5];
    var subList7 = dataToInsert[6];
    var subList8 = dataToInsert[7];
    var subList9 = dataToInsert[8];
    for (var i = 0; i < rows.length; i++) {
    var groupCell = rows[i].getElementsByTagName('td')[1];
    if (groupCell) {
      var groupName = groupCell.textContent || groupCell.innerText;
      if (
        groupName === '20-11-1 ИСиП' ||
        groupName === '21-11 ИБАС' ||
        groupName === '20-11-1 ССА' ||
        groupName === '20-11-1 КП' ||
        groupName === '20-11 АТ' ||
        groupName === '20-11-1 ОСАТПиП' ||
        groupName === '20-11 ПДО ТТ' ||
        groupName === '11-11 TEST'
      ) {
        if (previousGroup !== groupName) {
          if (groupName === '11-11 TEST') {
            var dataRow = document.createElement('tr');
            dataRow.className = 'group-data';
            for (var j = 0; j < subList8.length; j++) {
              if (j < 10) {
                var dataCell = document.createElement('td');
                dataCell.innerHTML = subList8[j];
                dataRow.appendChild(dataCell);
              } else {
                break;
              }
            }
            rows[i].parentNode.insertBefore(dataRow, rows[i]);
          } else if (groupName === '20-11-1 ИСиП') {
            var dataRow = document.createElement('tr');
            dataRow.className = 'group-data';
            for (var j = 0; j < subList2.length; j++) {
              if (j < 10) {
                var dataCell = document.createElement('td');
                dataCell.innerHTML = subList2[j];
                dataRow.appendChild(dataCell);
              } else {
                break;
              }
            }
            rows[i].parentNode.insertBefore(dataRow, rows[i]);
          } else if (groupName === '20-11-1 ССА') {
            var dataRow = document.createElement('tr');
            dataRow.className = 'group-data';
            for (var j = 0; j < subList6.length; j++) {
              if (j < 10) {
                var dataCell = document.createElement('td');
                dataCell.innerHTML = subList6[j];
                dataRow.appendChild(dataCell);
              } else {
                break;
              }
            }
            rows[i].parentNode.insertBefore(dataRow, rows[i]);
          } else if (groupName === '20-11-1 ОСАТПиП') {
            var dataRow = document.createElement('tr');
            dataRow.className = 'group-data';
            for (var j = 0; j < subList5.length; j++) {
              if (j < 10) {
                var dataCell = document.createElement('td');
                dataCell.innerHTML = subList5[j];
                dataRow.appendChild(dataCell);
              } else {
                break;
              }
            }
            rows[i].parentNode.insertBefore(dataRow, rows[i]);
          } else if (groupName === '20-11-1 КП') {
            var dataRow = document.createElement('tr');
            dataRow.className = 'group-data';
            for (var j = 0; j < subList4.length; j++) {
              if (j < 10) {
                var dataCell = document.createElement('td');
                dataCell.innerHTML = subList4[j];
                dataRow.appendChild(dataCell);
              } else {
                break;
              }
            }
            rows[i].parentNode.insertBefore(dataRow, rows[i]);
          } else if (groupName === '21-11 ИБАС') {
            var dataRow = document.createElement('tr');
            dataRow.className = 'group-data';
            for (var j = 0; j < subList3.length; j++) {
              if (j < 10) {
                var dataCell = document.createElement('td');
                dataCell.innerHTML = subList3[j];
                dataRow.appendChild(dataCell);
              } else {
                break;
              }
            }
            rows[i].parentNode.insertBefore(dataRow, rows[i]);
          } else if (groupName === '20-11 АТ') {
            var dataRow = document.createElement('tr');
            dataRow.className = 'group-data';
            for (var j = 0; j < subList2.length; j++) {
              if (j < 10) {
                var dataCell = document.createElement('td');
                dataCell.innerHTML = subList2[j];
                dataRow.appendChild(dataCell);
              } else {
                break;
              }
            }
            rows[i].parentNode.insertBefore(dataRow, rows[i]);
          } else if (groupName === '20-11 ПДО ТТ') {
            var dataRow = document.createElement('tr');
            dataRow.className = 'group-data';
            for (var j = 0; j < subList1.length; j++) {
              if (j < 10) {
                var dataCell = document.createElement('td');
                dataCell.innerHTML = subList1[j];
                dataRow.appendChild(dataCell);
              } else {
                break;
              }
            }
            rows[i].parentNode.insertBefore(dataRow, rows[i]);
          }
          previousGroup = groupName;
        } else {
          previousGroup = null;
        }
      }
    }
  }
</script>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    var currentDate = new Date().toISOString().split('T')[0];
    document.getElementById("date-input").value = currentDate;

    // Проверяем, была ли форма уже отправлена ранее
    if (!sessionStorage.getItem("formSubmitted")) {
      sessionStorage.setItem("formSubmitted", "true");
      document.getElementById("date-form").submit();
    }
  });
  </script>
</body>
</html>

  
